@font-face {
    font-family: 'Graphik';
    src: url(./fonts/GraphikRegular.otf);
}

*{
    box-sizing: border-box;
}

body{
    background: #181818;
}

@media screen and (max-width: 768px){
    header ul{
        align-items: flex-start !important;
        gap: 20px !important;
    }
    .section_title h1{
        width: 294px !important;
        font-size: 52px !important;
        line-height: 62px !important;
    }
    #paragraph1{
        width: fit-content !important;
    }
    .buttons{
        margin-top: 67px !important;
    }
    .buttons div{
        text-align: center !important;
    }
    .button2{
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
    .screens{
        height: 653px !important;
        background-image: url(./images/screens_mobile.png) !important;
    }
    .gradient{
        height: 328px !important;
    }
    .line-chart{
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 232px !important;
        height: 160px !important; 
    }
    .chart-images{
        display: flex !important;
        justify-content: center !important;
    }
    .chat-bot{
        width: 324px !important;
    }
    .charts{
        margin-top: 28px !important;
    }
    .short-descriptions{
        display: flex;
        justify-content: center;
        margin-top: 73px;
    }
    #paragraph2{
        width: fit-content !important;
    }
    #paragraph3{
        width: 288px !important;
    }
    .section4{
        margin-top: 253px !important;
    }
    .white-container{
        width: fit-content !important;
        margin: 0 !important;
    }
    .cont1 img{
        width: fit-content !important;
    }
    .cont2 img{
        width: 314px !important;
    }
    .section4{
        padding: 0 !important;
    }
    .sec4-containers{
        margin: 0 !important;
    }
    .section4 div:nth-child(2){
        padding: 0 !important;
    }
    .sec4-containers div{
        display: flex;
        justify-content: center;
    }
    .sec4-containers div:nth-child(1){
        margin-bottom: 33px !important;
    }
    .extra{
        display: none !important;
    }
    .section5-images img{
        width: 329px;
    }
    .sec5-extra-div{
        display: none !important;
    }
    .disappeared{
        display: flex !important;
        justify-content: center;
    }
    .disappeared img{
        border-radius: 10px;
        width: 329px !important;
    }
    .sec6-row div:nth-child(1){
        padding-right: 0 !important;
    }
    .sec6-row div{
        justify-content: center !important;
    }
    .sec6-row div{
        display: flex;
        gap: 50px !important;
    }
    .imgs1{
        display: none !important;
    }
    .imgs2{
        display: inline !important;
    }
    .sec7-row div{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .info1{
        margin-left: 0 !important;
    }
    .personal-info{
        width: 352px !important;
    }
    .figmaLand{
        width: 100% !important;
    }
    .section8-content{
        padding-left: 0 !important;
        padding-top: 106px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section8-content h2{
        width: 336px;
        text-align: center;
    }
    footer{
        padding: 0px 107px !important;
        margin-top: 125px !important;
    }
    footer h6{
        margin-top: 75px !important;
    }
    .adress{
        margin: 75px 0px !important;
        width: unset !important;
    }
}

header a{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
header div{
    justify-content: center;
}
header ul{
    gap: 41px;
    align-items: center;
}
.nav_button{
    width: 139px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.nav_button:hover{
    background: #4452FE;
    border: none;
    outline: 0;
}
header a:hover{
    text-decoration: none;
    color: white;
}

.section1{
    margin-top: 60px;
}
.section_title{
    flex-direction: column;
}
.section_title h1{
    width: 709px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;

}
.section_title p{
    width: 582px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 37px;
}

.buttons{
    margin-top: 95px;
}
.buttons button{
    width: 178px;
    height: 65px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    outline: 0;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.buttons button:hover{
    background: #4452FE;
    border: none;
}
.buttons div{
    padding: 0;
}
.buttons div:nth-child(1){
    text-align: right;
}
.button2{
    margin-left: 35px;
}


.section2{
    padding: 0;
    position: relative;
}
.screens{
    background-image: url(./images/screens.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1100px;
    padding: 0;
}
.gradient{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 601px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}


.section3{
    margin-top: 162px;
}
.sec3_title{
    flex-direction: column;
}
h2{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.chart-images{
    text-align: right;
}
.charts{
    margin-top: 82px;
}
.line-chart{
    position: absolute;
    bottom: -55px;
    right: -10px;
}

.descriptions{
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 84px;
}
.header3-titles{
    gap: 13px;
}
.header3-titles h3{
    width: 153px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.header3-titles img{
    height: 30px !important;
}
.descriptions p{
    width: 249px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.section4{
    margin-top: 300px;
}
.white-container{
    width: 476px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont1{
    padding: 50px 0px;
    margin-left: auto;
    margin-right: 15px;
}
.cont2{
    padding: 50px 0px 0px 0px;
    margin-left: 15px;
}


.white-container h4{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #000000;
}
.cont1 h4{
    margin-bottom: 30px;
}

.white-container p{
    width: 268px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    text-align: center;
}
.cont1 P{
    margin-bottom: 67px;
}

.white-container button{
    padding: 20px 36px;
    background: #4452FE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border: none;
    outline: 0;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.cont1 button{
    margin-bottom: 66px;
}
.cont2 h4{
    margin-bottom: 30px;
}
.cont2 p{
    margin-bottom: 40px;
}
.cont2 img{
    height: 340px;
}

.section5{
    margin-top: 212px;
}
.section5-images img{
    border-radius: 10px;
}
.disappeared{
    display: none;
}
.sec5-footer button{
    padding: 10px 30px;
    width: 159px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    outline: 0;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.sec5-footer button:hover{
    background-color: #4452FE;
    outline: 0;
    border: 1px solid #4452FE;
}

.section6{
    margin-top: 160px;
}
.sec6-footer button{
    padding: 10px 30px;
    width: 176px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    outline: 0;

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.sec6-footer button:hover{
    background-color: #4452FE;
    outline: 0;
    border: 1px solid #4452FE;
}
.sec6-row div:nth-child(1){
    justify-content:flex-end;
    padding-right: 74px;
}
.sec6-row div{
    display: flex;
    gap: 74px;
}
.imgs2{
    display: none;
}

.section7{
    margin-top: 160px;
}

.personal-info{
    padding: 40px 70px 40px 40px;
    width: 430px;
    background: transparent;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    margin-top: 20px;
}
.info1{
    margin-left: auto;
}
.name{
    margin-left: 23px;
}
.name h6{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0;
}
.name span{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.personal-info p{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 0;
}

.section8{
    margin-top: 230px;
}
.sec8-container{
    background: #343434;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 33px;
}
.section8-content{
    padding-left: 80px;
    padding-top: 80px;
}
.section8-content button{
    padding: 20px 36px;
    border: none;
    outline: 0;
    width: 232px;
    background: #4452FE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);

    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 37px;
}

footer{
    margin-top: 207px;
}
footer nav{
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 40px;

}
footer h6{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
footer a{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}
.adress{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    width: fit-content;
}
.adress p{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-bottom: 0;
}